PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/dinenear?retryWrites=true&w=majority
JWT_SECRET=dinenear_super_secret_jwt_key_2024
JWT_EXPIRE=7d
NODE_ENV=development
